# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Findings and Reports
findings/*.sarif
!findings/sample_findings.sarif
findings/*.json
!findings/compliance_map.json
report/output/
*.pdf

# Python Virtual Environment
venv/
.env

# IDEs
.idea/
.vscode/

# Build artifacts
build/
dist/
*.egg-info/
